<div class="home__container">
	<app-card
		gameCover="assets/angular-logo.jpg"
		gameLabel="THIS PROJECT"
		gamePrice="by Silvio"
		gameType="ANGULAR | TYPESCRIPT | HTML | CSS"
		gameLink="https://github.com/silvioafdev/angular-psn-store-clone"
	></app-card>
	<app-card
		gameCover="assets/javascript-logo.jpg"
		gameLabel="POKEDEX"
		gamePrice="by Silvio"
		gameType="JS | HTML | CSS"
		gameLink="https://github.com/silvioafdev/js-developer-pokedex"
	></app-card>
	<app-card
		gameCover="assets/angular-logo.jpg"
		gameLabel="BLOGLIKE"
		gamePrice="by Silvio"
		gameType="ANGULAR | TYPESCRIPT | HTML | CSS"
		gameLink="https://github.com/silvioafdev/angular-blog"
	></app-card>
	<app-card
		gameCover="assets/django-logo.jpg"
		gameLabel="RESTAURANT RESERVATION"
		gamePrice="by Silvio"
		gameType="DJANGO | PYTHON | SQLITE"
		gameLink="https://github.com/silvioafdev/Little-Lemon"
	></app-card>
	<app-card
		gameCover="assets/github-logo.jpg"
		gameLabel="GITHUB-STATS"
		gamePrice="by Silvio"
		gameType="GIT | GITHUB"
		gameLink="https://github.com/silvioafdev/silvioafdev"
	></app-card>
</div>
